<body>
<div class="col imgArea">
    <div class="col">
    <div id="son2" class="col-lg ">
         <img id="son1_1" [src]="imagem">
    </div>
    <br>
    <div id="son1" class="col videoArea" style="text-align: center;">
      <br>
      <div *ngIf="videoState"><app-brief-video></app-brief-video></div>
      <div *ngIf="ctLeadState"><app-catch-lead [fillFormService]="fillFormService"></app-catch-lead></div>
      <button (click)="changForCatchLead()" id="son2_4" class="btn buttonFile" [hidden]="btnWantFile">
        {{ lblbtnApostila }}</button><br><br>
    </div>  
  </div>
  <div class="col footArea" style="text-align: center;">
    Catarse I.E, foi desenvolvida para o indivíduo ter alta performace, com base científica nas àreas da Psicologia, Neurociência (pnl) e Filosofia, elevando o nível para plenitude e abundância.<br>
    2025 &copy; Catarseie Copyright Reserved<br><br>
  </div>
  </div>
</body>









