<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catarseie</title>
</head>

<body>

<div id="Main" class="d-flex align-items-center videoArea">

    <div id="son1" class="col-6">
      <img class="imgArea" [src]="imagem">
    </div>

    <div id="son2" class="d-flex flex-column">

      <div id="son2_1" class="d-flex justify-content-center titleArea" [style]="{'color':'white'}">
        <h2> NÃO PERCA ESSA OPORTUNIDADE !!!</h2>
      </div>

      <div id="son2_2" class="d-flex justify-content-center">
        <video id="video" class="col-10" autoplay controls source [src]="video"></video>
      </div>

      <div id="sbMais" hidden><app-sb-mais></app-sb-mais></div>
    
    </div>

</div>
 
 </body>
</html>






