
.bodyContainer {
   background-color: #02054c;
 
}

.imgArea {
   height: 100%;
   width: 100%;
}

.videoArea {
   background-color: #02054c;
   
}

.titleArea {
   height: 30px;
   margin-bottom: 30px;
}

.buttonArea {
   margin-top: 30px;

}
