<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-5 col-sm-10 login-form">
                <h1 class="title">Flymail</h1>
                <form>
                    <div class="form-group">
                        <label for="username" class="title">Username:</label>
                        <input type="text" class="form-control inputs textinto" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="title">Password:</label>
                        <input type="password" class="form-control inputs textinto" id="password" placeholder="Enter password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary col-12">Login</button>
                </form>
                <div class="container2"><a href="#">Esqueci a Senha? </a> | <a href="#"> Solicitar acesso</a></div><br>
                <!-- <div class="container3"><img class="" width="70%" src="../../assets/img/card_catarseie.jpeg"></div><br> -->
                <div class="container3"><h5>v0.0.0-beta</h5></div><br>
            </div>
        </div>
    </div>
</body>

