<div class="align-items-center" style="margin-left: 30px;">
      <div id="son2_1" class="titleArea">
        <h2><b>PREENCHA OS CAMPOS PARA OBTER SUA APOSTILA</b></h2>
    </div>

    <div id="son2_2" class="d-flex justify-content-center">
        <form class="form-group">
            <table style="color: #fff;">
                <tr><td>Nome: <br><input type="text" class="form-control" placeholder="Seu nome"></td><td>Ultimo nome:<br><input type="text" class="form-control" placeholder=" Informe seu ultimo nome" required></td></tr>
                <tr><td colspan="2">E-mail:<br><input type="text" size="46" class="form-control" placeholder="Informe seu E-mail" required></td></tr>
                <tr><td colspan="2">Cidade:<br>
                  <select style="width: 30rem;" class="form-control" required>
                    <option selected value="">Informe a sua cidade</option>
                    <option value="">Rio de Janeiro</option>
                  </select>
                </td>
              </tr>
                <tr>
                  <td colspan="2">
                    Como chegou até nos:<br>
                    <select style="width: 30rem;" class="form-control" required>
                      <option selected value="">Informe como chegou até nós</option>
                      <option value="">Instagram</option>
                      <option value="">FaceBook</option>
                      <option value="">YouTube</option>
                      <option value="">Google</option>
                      <option value="">Atravez de indicação de um amigo</option>
                    </select>
                  </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="son2_3" class="d-flex justify-content-center" style="color: white;">
      <button id="son2_4" type="button" class="btn btn-warning buttonArea">
        <h2 style="color:red"> <b>Baixar minha apostila gratúita...</b></h2>
      </button>
    </div>
</div>

