

<div id="son2_1" class="d-flex justify-content-center fontTitulo" style="text-align: center;">
  COMEÇE HOJE MESMO COM A APOSTILA QUE IRE LHE PRESENTEAR!<br>
  </div>
<br>
  <div id="son2_1" class="fontSubTitulo">
    CONHEÇA A MINHA HISTÓRIA, <BR>E VEJA QUE O FATO DE ENTENDER QUEM SOMOS FAZ TODA A DIFERENÇA!
</div>

<br>
<div id="son2_2" class="d-flex justify-content-center">
  <iframe class="videoSmart" width="560" height="315" src="https://www.youtube.com/embed/axx9aVC5l2c?si=IDOajL75gQqjSKMX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

 