    

  <div id="son2_1" class="fontTitulo">
        <b>{{ textMain }}</b>
      </div>
 <div *ngIf="catchLeadPanel">     
   <br>
      <div class="col-11 col-md-3 col-xg-3 col-lg-3" style="margin: auto;">
        <div class="d-flex justify-content-between">
                <div class="mb-2"><input type="text" class="form-control" placeholder="Nome"></div>
                <div class="mb-2"><input type="text" class="form-control" placeholder="Sobre nome"></div>
        </div>
               <div class="mb-2"><input type="text" class="form-control" placeholder="Informe seu E-mail"></div>
                <div class="mb-2">
                <select class="form-control">
                  <option selected value="">Informe o seu estado</option>
                  <option value="" *ngFor="let state of states">{{ state }}</option>
                </select>
                </div>
                
                <div class="mb-2">
                  <select class="form-control">
                      <option selected value="">Em que faixa de idade você se encontra</option>
                      <option value="" *ngFor="let age of rangeAge">{{ age }}</option>
                  </select>
                </div>

                <div class="mb-2">
                  <select class="form-control">
                      <option selected value="">Informe como chegou até nós</option>
                      <option value="" *ngFor="let indicate of indication">{{ indicate }}</option>
                  </select>
                </div>

                <div class="mb-2">
                  <select class="form-control">
                      <option selected value="">Qual area da sua vida você mudaria nesse momento?</option>
                      <option value="" *ngFor="let position of lifePosition">{{ position }}</option>
                  </select>
              </div>           
      
               <div class="mb-2" style="color: white;">
                <input type="checkbox" (change)="checkOption()"> Aceito receber informações e novidades sobre o treinamento Catarseie em meu e-mail
               </div>
            </div>  
            <button id="son2_4" class="btn btn-warning buttonFile" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="btnDownload" >
              Baixar minha apostila grátis!</button><br><br>
          </div>
        
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modalArea">
      <div class="modal-body">
        Parabéns, sua apostila acaba de ser enviada com sucesso para o email informado!
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="sendLead()">Fechar</button>
      </div>
    </div>
  </div>
</div>


