
.bodyContainer {
    background-color: #060967;
  
 }
 
 .imgArea {
    height: 100%;
    width: 100%;
 }
 
 .videoArea {
    background-color: #060967;
    
 }
 
 .titleArea {

    margin-top: 50px;
    color: yellow;
 }
 
 .buttonArea {
    margin-top: 50px;
    margin-bottom: 10px;
 
 }


 